@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Yaruba';
    src: url('./fonts/YsabeauSC-VariableFont_wght.ttf');
}
body{
    font-family: 'Yaruba';
}

html{
    font-size: larger;
}