@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: larger;
}

.blue-logo {
  filter: brightness(0) invert(0.8) sepia(1) hue-rotate(190deg) saturate(5);
}

::selection {
  color: white;
  background-color: red;
}
